APP_NAME=PM Multi-Strategy Backend
APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=dT3Hu89envHg3Nc
POSTGRES_DB=postgres
POSTGRES_SCHEMA=polypdt
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
EXTERNAL_STREAM_ENABLED=false
POLYMARKET_WS_ENABLED=true
POLYMARKET_WS_URL=wss://ws-subscriptions-clob.polymarket.com/ws/market
POLYMARKET_GAMMA_URL=https://gamma-api.polymarket.com
POLYMARKET_WS_CUSTOM_FEATURE_ENABLED=true
POLYMARKET_WS_MAX_ASSETS=200
GOALSERVE_WS_ENABLED=false
GOALSERVE_TOKEN_URL=
GOALSERVE_TOKEN_METHOD=auto
GOALSERVE_TOKEN_TTL_MINUTES=60
GOALSERVE_TOKEN_REFRESH_AHEAD_SECONDS=300
GOALSERVE_WS_URL=
GOALSERVE_API_KEY=
GOALSERVE_USERNAME=
GOALSERVE_PASSWORD=
GOALSERVE_SUBSCRIBE_PAYLOAD=
